.back,a {
    color:darkorange;
}
table {
    border:none;
    border-collapse: collapse;
    margin:20px 0px;
}
td {
    padding:5px;
    border:1px solid #111;
}

.bastard {
    max-width:250px;
    width:100%;
    margin:0 auto;
}
.bastard img {
    width:100%;
}

.loginWindow {
    position:absolute;
    background-color:darkorange;
    padding:15px 30px;
    right:0px;
    top:0px;
}
.loginWindow a {
    color:#fff;
}
.loginWindow .welcomeText {
    display:none;
}
.loginWindow .name,.loginWindow .email,.loginWindow .status {
    margin-top:10px;
}




.header{
  width:100%;
  height:auto;
  padding:20px 0px 50px;
  background-color:bisque;
  margin-bottom:10px;
  border-bottom:10px solid darkorange;
}
.loginForm {
    margin:0 auto;
    background:#fff;
    max-width:500px;
    width:100%;
    padding:20px 50px;
}
.loginForm .fields {
    text-align:center;
}
.loginForm label {
    text-align: left;
    width:100%;
}
.loginForm input {
    width:100%;
}
.loginForm input[type="submit"] {
    width:50%;
    margin:20px auto 0px;
    background:darkorange;
    color:#fff;
    border:none;
}

@media(max-width:767px) {
    h1 {
        font-size:1.5em;
    }
}