body {
    overflow-x:hidden;
    background:#000 url(../img/bg.jpg) 0px 0px repeat-x;
}

.back,a {
    color:#3fb7ef;
}
.back {
    display:block;
    margin-bottom:20px;
}
form {
    margin-top:20px;
}
table {
    border:none;
    border-collapse: collapse;
    margin:20px 0px;
}
td {
    padding:5px;
    border:1px solid #111;
}

.bastard {
    width:100%;
    margin:0px auto;
    padding:0px;
    max-width:700px;
    position:relative;
}
.center-wrapper,.flow-wrapper {
    width:100% !important;
    height:250px !important;
}
#Stage {
    transform:scale(1) !important;
}

.bastard img {
    width:100%;
}

.loginWindow {
    position:absolute;
    background-color:#151a4e;
    padding:5px 30px;
    right:0px;
    top:0px;
    width:250px;
    color:#fff;
    border-left:1px solid #fff;
}
.loginWindow a {
    color:#fff;
    text-decoration: underline;
}
.loginWindow .welcomeText {
    display:none;
}
.loginWindow .name,.loginWindow .email,.loginWindow .status {
    margin-top:10px;
}
.mobileOpener,.mobileCloser {
    width:50px;
    height:50px;
    position:absolute;
    left:-50px;
    background:#fff;
    top:0px;
    padding-top:13px;
    text-align: center;
    color:#151a4e;
}
.mobileOpener,.mobileCloser {
    display:none;
}

.header{
  width:100%;
  height:auto;
  padding:0px 0px 0px;
  background-color:rgba(21,26,78,0.5);
  margin-bottom:10px;
    color:#fff;
}
.header:hover {
    background-color:rgba(21,26,78,1);
}
.loginForm {
    margin:0 auto;
    background:#fff;
    max-width:500px;
    width:100%;
    padding:20px 50px;
}
.loginForm .fields {
    text-align:center;
}
.loginForm label {
    text-align: left;
    width:100%;
}
.loginForm input {
    width:100%;
}
.loginForm input[type="submit"] {
    width:50%;
    margin:20px auto 0px;
    background:#3fb7ef;
    color:#fff;
    border:none;
}

#content {
    padding:50px 0px 200px;
}
#footer {
    background:#333;
    padding:20px 0px;
    color:#fff;
    position:fixed;
    bottom:0px;
    width:100%;
}
@media(max-height:835px) {
    #footer {
        position:relative;
        
    }
}
.showContent {
    margin-top:30px;
    background:orange;
}
div.button {
    padding:0px 0px 0px;
}
div.button button {
    width:100%;
    padding:15px 0px;
    text-align: center;
    background-color:#3fb7ef;
    border:none;
    border-right:1px solid #040c51;
    color:#000;
    height:90px;
    text-transform: uppercase;
    font-size:1.45em;
}
div.button button.active {
    padding:15px 0px 15px;
    border-bottom:5px solid #fff;
    background:#2c99cc;
    color:#fff;
}
div.button button:hover {
    background-color:#3c99cc;
}
div.button:last-of-type button {
    border-right:none;
}
.buttonMenuWrap {
    margin-bottom:20px;
}
.saved,.cleared,.checked,.generated {
    display:none;
    background:green;
    width:100%;
    text-align:center;
    color:#fff;
    padding:5px 0px;
    clear:both;
}
.panel-body form {
    margin-bottom:0px;
}
.panel-body form:last-of-type {
    margin-bottom:10px;
}
.checkWish {
    margin-top:40px;
}
.checkWish input,.checkWish p {
    float:left;
}
.checkWish p {
    margin-left:10px;
}
.checkSubmit {
    display:block;
    width:100px;
    margin:0 auto;
}

.ownWishes {
    background:#00d4ff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:1.3em;
    padding:0px;
    margin-top:30px;
}
.ownWishWrap {
    padding:30px 50px;
}
.ownWishes h3 {
    font-size:1.5em;
    text-decoration: underline;
}
.ownWishes input {
    background:transparent;
    border:none;
    border-bottom:1px solid #000;
    width:100%;
}
.ownWishWrap .panel {
    border:none;
}
.ownWishWrap .panel-group .panel+.panel {
    margin-top: 0px;
    border:none;
}
.ownWishWrap .panel-default>.panel-heading {
    background:#00d4ff;
    border:none;
    border-bottom:1px solid #000;
}
.ownWishWrap .panel-body b {
    margin-top:10px;
    display:inline-block;
}

.receiverWishes {
    background-color:#0dd8bd;
    font-size:1.3em;
    padding:0px;
    margin-top:30px;
}
.receiverWishWrap {
    padding:30px 50px;
}
.receiverWishes h3 {
    font-size:1.5em;
    text-decoration:underline;
}
.receiverWish .rWpanel-body div {
    border-bottom:1px solid #000;
    width:100%;
    margin-top:10px;
}
.receiverWish {
    margin-top:20px;
}
.receiverWish .rwPanel-body b {
    display:block;
    text-transform: uppercase;
    font-size:0.7em;
}
.receiverWishWrap .panel {
    border:none;
}
.receiverWishWrap .panel-group .panel+.panel {
    margin-top: 0px;
    border:none;
}
.receiverWishWrap .panel-default>.panel-heading {
    background:#0dd8bd;
    border:none;
    border-bottom:1px solid #000;
}
.receiverWishWrap .panel-default>.panel-heading img.icon {
    float:right;
}
.panel-default .panel-heading a.linkIn {
	background:transparent url(../img/minus.png) right 0px no-repeat;
}
.panel-default .panel-heading a {
	background:transparent url(../img/plus.png) right 0px no-repeat;
    width:100%;
	display:block;
}
table.attendants,table.wishes,form.adminForm {
    background:#fff;
    padding:30px 15px;
    width:100%;
}
.introText {
    padding-top:20px;
    padding-bottom:20px;
    background:#fff;
}

.hiddenPath {
    display: none;
}
canvas {
    position:absolute;
    top:0px;
    z-index:-1;
}

@media(max-width:1199px) {
    .checkWish p {
        width:90%;
    }
    div.button button {
        height:90px;
        padding:15px 0px 15px;
    }
    div.button button.active {
        padding:15px 0px 15px;
    }
}
@media(max-width:991px) {
    
}
@media(max-width:767px) {
    h1 {
        font-size:1.5em;
    }
    .loginWindow {
        right:-250px;
    }
    .mobileOpener {
        display:block;
    }
    
    .ownWishWrap {
        padding:15px 25px;
    }
}
@media(max-width:550px) {
    
}
@media(max-width:480px) {
    div.button button {
        font-size:1.1em;
    }
}





/* ################ Tabellen responsive ################ */

@media(max-width:1080px) {
    .attendants td:nth-child(4),.attendants td:nth-child(5) {
        display:none;
    }
    .attendants td {
        display:block;
    }
}
@media(max-width:991px) {
    .attendants td:nth-child(4),.attendants td:nth-child(5),.attendants td:nth-last-child(4) {
        display:none;
    }
    .attendants td {
        display:block;
    }
}
@media(max-width:767px) {
    .attendants td:nth-child(4),.attendants td:nth-child(5),.attendants td:nth-child(6),.attendants td:nth-last-child(4),.attendants td:nth-last-child(5) {
        display:none;
    }
    .attendants td {
        display:block;
    }
    .wishes td:nth-child(4) {
        display:none;
    }
    .wishes td {
        display:block;
    }
}
@media(max-width:550px) {
    .attendants td {
        display:none;
    }
    .attendants td:nth-child(1),.attendants td:nth-child(3),.attendants td:nth-last-child(1),.attendants td:nth-last-child(2) {
        display:block;
    }
    .wishes td:nth-child(4),.wishes td:nth-child(3) {
        display:none;
    }
    .wishes td {
        display:block;
    }
}