body {
    overflow-x:hidden;
}

.back,a {
    color:darkorange;
}
.back {
    display:block;
    margin-bottom:20px;
}
form {
    margin-top:20px;
}
table {
    border:none;
    border-collapse: collapse;
    margin:20px 0px;
}
td {
    padding:5px;
    border:1px solid #111;
}

.bastard {
    max-width:250px;
    width:100%;
    margin:0 auto;
}
.bastard img {
    width:100%;
}

.loginWindow {
    position:absolute;
    background-color:darkorange;
    padding:15px 30px;
    right:0px;
    top:0px;
    width:250px;
}
.loginWindow a {
    color:#fff;
}
.loginWindow .welcomeText {
    display:none;
}
.loginWindow .name,.loginWindow .email,.loginWindow .status {
    margin-top:10px;
}
.mobileOpener,.mobileCloser {
    width:50px;
    height:50px;
    position:absolute;
    left:-50px;
    background:darkorange;
    top:0px;
    padding-top:13px;
    text-align: center;
}
.mobileOpener,.mobileCloser {
    display:none;
}

.header{
  width:100%;
  height:auto;
  padding:20px 0px 50px;
  background-color:bisque;
  margin-bottom:10px;
  border-bottom:10px solid darkorange;
}
.loginForm {
    margin:0 auto;
    background:#fff;
    max-width:500px;
    width:100%;
    padding:20px 50px;
}
.loginForm .fields {
    text-align:center;
}
.loginForm label {
    text-align: left;
    width:100%;
}
.loginForm input {
    width:100%;
}
.loginForm input[type="submit"] {
    width:50%;
    margin:20px auto 0px;
    background:darkorange;
    color:#fff;
    border:none;
}

#content {
    padding:50px 0px 200px;
}
#footer {
    background:#333;
    padding:20px 0px;
    color:#fff;
    position:fixed;
    bottom:0px;
    width:100%;
}
@media(max-height:835px) {
    #footer {
        position:relative;
        
    }
}
.showContent {
    margin-top:30px;
}
div.button {
    padding:0px;
}
div.button button {
    width:100%;
    padding:30px 0px;
    text-align: center;
    background-color:#FF9841;
    border:none;
    border-right:1px solid #fff;
    color:#fff;
    text-transform: uppercase;
    font-size:1.5em;
}
div.button button:hover {
    background-color:#fF8841;
}
div.button:last-of-type button {
    border-right:none;
}
.saved,.cleared,.checked,.generated {
    display:none;
    background:green;
    width:100%;
    text-align:center;
    color:#fff;
    padding:5px 0px;
    clear:both;
}
.panel-body form {
    margin-bottom:0px;
}
.panel-body form:last-of-type {
    margin-bottom:10px;
}
.checkWish {
    margin-top:40px;
}
.checkWish input,.checkWish p {
    float:left;
}
.checkWish p {
    margin-left:10px;
}
.checkSubmit {
    display:block;
    width:100px;
    margin:0 auto;
}

.ownWishes {
    background:#FFE256;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:1.3em;
    padding:0px;
    margin-top:30px;
}
.ownWishWrap {
    padding:30px 50px;
}
.ownWishes h3 {
    font-size:1.5em;
    text-decoration: underline;
}
.ownWishes input {
    background:transparent;
    border:none;
    border-bottom:1px solid #000;
    width:100%;
}
.ownWishWrap .panel {
    border:none;
}
.ownWishWrap .panel-group .panel+.panel {
    margin-top: 0px;
    border:none;
}
.ownWishWrap .panel-default>.panel-heading {
    background:#FFE256;
    border:none;
    border-bottom:1px solid #000;
}
.ownWishWrap .panel-body b {
    margin-top:10px;
    display:inline-block;
}


@media(max-width:1199px) {
    .checkWish p {
        width:90%;
    }
}
@media(max-width:991px) {
    
}
@media(max-width:767px) {
    h1 {
        font-size:1.5em;
    }
    .loginWindow {
        right:-250px;
    }
    .mobileOpener {
        display:block;
    }
    div.button button {
        border-right:none;
        border-bottom:1px solid #fff;
    }
    .ownWishWrap {
        padding:15px 25px;
    }
}
@media(max-width:550px) {
    
}





/* ################ Tabellen responsive ################ */

@media(max-width:1080px) {
    .attendants td:nth-child(4),.attendants td:nth-child(5) {
        display:none;
    }
    .attendants td {
        display:block;
    }
}
@media(max-width:991px) {
    .attendants td:nth-child(4),.attendants td:nth-child(5),.attendants td:nth-last-child(4) {
        display:none;
    }
    .attendants td {
        display:block;
    }
}
@media(max-width:767px) {
    .attendants td:nth-child(4),.attendants td:nth-child(5),.attendants td:nth-child(6),.attendants td:nth-last-child(4),.attendants td:nth-last-child(5) {
        display:none;
    }
    .attendants td {
        display:block;
    }
    .wishes td:nth-child(4) {
        display:none;
    }
    .wishes td {
        display:block;
    }
}
@media(max-width:550px) {
    .attendants td {
        display:none;
    }
    .attendants td:nth-child(1),.attendants td:nth-child(3),.attendants td:nth-last-child(1),.attendants td:nth-last-child(2) {
        display:block;
    }
    .wishes td:nth-child(4),.wishes td:nth-child(3) {
        display:none;
    }
    .wishes td {
        display:block;
    }
}